:root {
    --color-one: #27374D;
    --color-two: #526D82;
    --color-three: #9DB2BF;
    --color-four: #DDE6ED;
    --color-five: rgb(234, 234, 98);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: var(--color-one);
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

h1 {
    color: var(--color-five);
    margin-bottom: 40px;
}

table {
    /* border-collapse: collapse; */
    width: 98%;
    max-width: 700px;
    border-spacing: 2px;
}

th,
td {
    border: 1px solid var(--color-five);
    text-align: center;
    padding: 5px 2px;

}

th {
    background-color: rgb(87, 190, 190);
    color: #27374D;
}

td:nth-child(1) {
    background-color: rgb(248, 194, 76);
    color: black;
    font-weight: 600;
}

td {
    background-color: var(--color-two);
    color: rgb(255, 255, 255);
}